# RENAME THIS FILE to .env in order for the app to function
###########################################################

# Path to the SQLite database file
DATABASE_URL="file:./faction.db"

# Generate a new JWT secret with jwtsecretkeygenerator.com
JWT_SECRET="WOOfnOPyUhOYoRz9GjyxHlLFmHI9G5zxHqnDMCPuXkn"

# Allowed origins for API requests
CORS_ORIGINS="http://localhost:5173"

# Port to host the server on
HOST_PORT="3000"