.userAvatar {
  border-radius: 100%;
  height: var(--avatarSize) !important;
  width: var(--avatarSize) !important;
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
  background-color: var(--clr-dark);
}

.userAvatarWrapper {
  position: relative;
  height: var(--avatarSize) !important;
  width: var(--avatarSize) !important;
}

.statusIndicator::after {
  content: "";
  position: absolute;
  top: calc(var(--avatarSize) - 25%);
  left: calc(var(--avatarSize) - 25%);
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  box-shadow: 0 0 0 0.2rem var(--clr-surface-10);
  transition: background-color 150ms;
}

.statusOnline::after {
  background-color: var(--clr-success);
}

.statusAway::after {
  background-color: #d2c44b;
}

.statusOffline::after {
  background-color: var(--clr-danger-10);
}
