.UserListPanel {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    border-left: 1px solid #e0e0e0;
    padding: 1rem;
    overflow-y: auto;
    gap: 0.5rem;
}

.UserListPanel h3 {
    margin: 0 0 0.5rem 0;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #666;
}

.UserListPanel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.onlineIndicator {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 50%;
    background-color: #22c55e; /*green*/
    margin-left: auto;
}

.offlineIndicator {
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 50%;
    margin-left: auto;
}

.UserListPanel li {
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.UserListPanel li:hover {
    background-color: var(--clr-primary); /*adds some of that faction yellow to the hover state*/
    color: #000000;
}
