.UserListPanel {
  display: flex;
  flex-direction: column;
  width: 13rem;
  background-color: var(--clr-surface-10);
  border: 1px solid var(--clr-surface-20);
  border-radius: var(--radius-md);
  margin: 0.5rem;
  padding: 1rem;
  overflow-y: auto;
  gap: 0.5rem;
  z-index: 10;
}

.UserListPanel h3 {
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #666;
}

.UserListPanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.UserListPanel li {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.UserListPanel li:hover {
  background-color: var(--clr-primary); /*adds some of that faction yellow to the hover state*/
  color: #000000;
}
