.userAvatar {
  border-radius: 100%;
  height: var(--avatarSize) !important;
  width: var(--avatarSize) !important;
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
  background-color: var(--clr-dark);
}

.userAvatar.statusOnline::after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  transform: translate(calc(var(--avatarSize) * 0.7), calc(var(--avatarSize) * 0.7));
  background-color: var(--clr-success);
}

.userAvatar.statusOffline::after {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  transform: translate(calc(var(--avatarSize) * 0.7), calc(var(--avatarSize) * 0.7));
  background-color: var(--clr-danger-10);
}